<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="base :: head">
</head>

<div th:replace="base :: page-header"></div>

<body>

<section class="offset">
    <div>
        <h1>Meet Haley</h1>
        <a>Haley Albers is an artist, designer, communicator, and learner. She studied art and
            psychology at the University of Evansville and went on to become a technical graphic
            designer. Her interest in UX design was jumpstarted when she took a coding class
            through Launchcode.
        </a>
    </div>
</section>

</body>

</html>